.loading-animation {
  padding-left: 18.75rem;
  padding-bottom: 2.1875rem;
  /* padding-top: 0.625rem; */
}

span {
  display: block;
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
  -webkit-animation: run 2s infinite ease-in-out;
  animation: run 2s infinite ease-in-out;
}

.one {
  background: #f3b222;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.two {
  background: #f0653e;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.three {
  background: #b9c0c0;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.four {
  background: #8f7473;
}

@-webkit-keyframes run {
  0% {
    transform: translate(0%);
    border-radius: 50%;
  }
  25% {
    transform: translate(150%) scale(0.5);
    border-radius: 0%;
  }
  50% {
    transform: translate(150%, 150%);
    border-radius: 50%;
  }
  75% {
    transform: translate(0%, 150%) scale(0.5);
    border-radius: 0%;
  }
}
@keyframes run {
  0% {
    transform: translate(0%);
    border-radius: 50%;
  }
  25% {
    transform: translate(150%) scale(0.5);
    border-radius: 0%;
  }
  50% {
    transform: translate(150%, 150%);
    border-radius: 50%;
  }
  75% {
    transform: translate(0%, 150%) scale(0.5);
    border-radius: 0%;
  }
}
